@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: goldenrod;
    font-family: 'Ubuntu', sans-serif;
}
h4{
    padding: 2px;
    background-color: gold;
}
hr{
    color: rgb(35, 130, 193);
}
.header {
    /* background-color: rgb(67, 164, 243); */
    height: 10vh;
    text-align: center;
    grid-column: 1/13;
}
.main{
    height: 120vh;
    text-align: center;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: capitalize;
}
.logo{
    height: 50px;
    padding: 2px 12px;
    position: relative;
}
.icon-bar{
    background: rgb(37, 168, 208);
}
li a {
    color: rgb(57, 62, 231);
}
.content{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
}
div.column{
    margin: 2%;
    padding: 1%;
    float: left;
    width: 28%;
    background-color: gold;
    color: rgb(35, 130, 193);
    text-align: center;
}
.img-responsive{
    margin: 1%;
    
}
